# Path to the Blender executable file. Change if not available on PATH
BLENDER_BIN="blender"

# Path to your local Blender Extension Repository, in which we will make a
# symbolic link to this Git repository (more specifically, src folder)
BLENDER_EXTENSION_REPO="<path to extensions repository>"
